body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131517;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Autofill suggestion background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px rgba(26, 32, 40, 0.95) inset !important;
  -webkit-text-fill-color: #ffffff !important;
  color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}

.css-j3jqhj-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(26, 32, 40, 0.95) inset !important;
}

.MuiInputBase-input.MuiOutlinedInput-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(26, 32, 40, 0.95) inset !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #131517;
  color: #ffffff;
  overflow-x: hidden;
}

.custom-dark-link {
  stroke: white !important;
  stroke-width: 2;
}

.custom-light-link {
  stroke: black !important;
  stroke-width: 2;
}

/* Hide scrollbar by default */
.custom-page-scroll::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

/* Hide thumb by default */
.custom-page-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 8px;
}

/* When sidebar or any of its children are hovered */
.custom-page-scroll:hover::-webkit-scrollbar-thumb,
.custom-page-scroll:has(:hover)::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15); /* For dark theme */
}

/* Light theme (if you toggle with class like .light) */
.custom-page-scroll.light:hover::-webkit-scrollbar-thumb,
.custom-page-scroll.light:has(:hover)::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
